* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

section {
  padding: 7em 0;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 15em;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  color: var(--clr-text, #fff);
  background: var(--clr-accent, blue);
  border-radius: 0.25em;
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s ease-in;
  transition: opacity 0.25s linear, -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in, opacity 0.25s linear;
  transition: transform 0.25s ease-in, opacity 0.25s linear, -webkit-transform 0.25s ease-in;
  outline: none;
  border: none;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw +1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.second-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw +1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  color: #fff;
  text-align: center;
  padding: 15em 0;
  background: #222;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(../img/shoe-3.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.featured {
  background: #eee;
}

.featured__item {
  display: block;
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}

.featured__item:hover, .featured__item:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured__item:hover .featured__details, .featured__item:focus .featured__details {
  opacity: 1;
}

.featured__item::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}

.featured__details {
  opacity: 0;
  text-shadow: 0 0 3em white;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.product {
  background: radial-gradient(var(--clr-inner, green), var(--clr-outer, purple));
  padding: 3em;
  margin-bottom: 6em;
  border-radius: 1em;
  text-align: center;
}

.product__title {
  font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.product__image {
  margin: -5em 0 0 0;
}

@media (min-width: 45em) {
  .product {
    text-align: left;
    margin-bottom: 9em;
  }
  .product__title {
    margin: 0;
  }
  .product__image {
    float: right;
    width: 65%;
    margin: 0 -5rem 0 0;
    shape-outside: url(../img/shoe-6.png);
    shape-margin: 1em;
  }
  .product.shoe-left .product__image {
    shape-outside: url(../img/shoe-2.png);
    float: left;
    margin: 0 0 0 -5em;
    shape-margin: 2em;
  }
}

.hero {
  --clr-accent: #faa700;
}

.shoe-red {
  --clr-inner: red;
  --clr-outer: orange;
}

.shoe-blue {
  --clr-inner: gray;
  --clr-outer: yellow;
}

.shoe-white {
  --clr-inner: blue;
  --clr-outer: white;
  --clr-accent: red;
}
/*# sourceMappingURL=style.css.map */